:root
{
    --MainForegroundColor               : #9933CC;
    --MainForegroundColorMoreLight      : #AA55EE;
    --MainForegroundColorMoreDark       : #771199;

    --MainForegroundColor2              : #33B5E5;
    --MainForegroundColor2MoreLight     : #55D7FF;
    --MainForegroundColor2MoreDark      : #1193C3;

    --MainTextColorLight                : white;
    --MainTextColorLightMoreDark        : #CCCCCC;
    --MainTextColorDark                : black;
    --MainTextColorDarkMoreLight       : #333333;

    --MainBackgroundColor1              : white;
    --MainBackgroundColor2              : #e7d7ef;
    --MainBackgroundColor3              : #f6f1f9;

    --MainFont                          : WebFont_Yekan;

    /*--MainForegroundColor               : lime;
    --MainForegroundColorMoreLight    : yellow;
    --MainForegroundColorMoreDark      : green;

    --MainForegroundColor2              : red;
    --MainForegroundColor2MoreLight   : orange;
    --MainForegroundColor2MoreDark     : violet;
        
    --MainTextColorLight              : gold;
    --MainTextColorLightMoreDark      : #CCCCCC;
    --MainTextColorDark                : brown;
    --MainTextColorDarkMoreLight     : #333333;

    --MainFont                           : WebFont_Nazanin;*/

}
/*---Responsive style -------------------------------------------------------------------*/
*
{
	box-sizing : border-box;
}
		
html
{
	font-family: var(--MainFont);
}

.header{
	background-color : var(--MainForegroundColor);
	color : var(--MainTextColorLight);
	padding : 15px;
    font-family: var(--MainFont);
			
}

.GlobalObjects{
	background-color : var(--MainForegroundColorMoreLight);
	color : var(--MainTextColorLight);
	padding : 15px;
    font-family: var(--MainFont);
			
}
		
[class*="col-"]
{
	float : left;
	padding : 15px;
			
}
		
[class*="col-"]{
		width : 100%;
	}
			
@media only screen and (min-width:600px){
	.col-m-1{width:8.33%;}
	.col-m-2{width:16.66%;}
	.col-m-3{width:25%;}
	.col-m-4{width:33.33%;}
	.col-m-5{width:41.66%;}
	.col-m-6{width:50%;}
	.col-m-7{width:58.33%;}
	.col-m-8{width:66.66%;}
	.col-m-9{width:75%;}
	.col-m-10{width:83.33%;}
	.col-m-11{width:91.66%;}
	.col-m-12{width:100%;}
}

@media only screen and (min-width:768px){
	.col-1{width:8.33%;}
	.col-2{width:16.66%;}
	.col-3{width:25%;}
	.col-4{width:33.33%;}
	.col-5{width:41.66%;}
	.col-6{width:50%;}
	.col-7{width:58.33%;}
	.col-8{width:66.66%;}
	.col-9{width:75%;}
	.col-10{width:83.33%;}
	.col-11{width:91.66%;}
	.col-12{width:100%;}
}
		
.row:after
{
	content : "";
	clear : both;
	display : block;
}
		
.menu ul{
	list-style-type : none;
	margin : 0;
	padding : 0;
    font-family: var(--MainFont);
}
		
.menu li{
	padding : 8px;
	margin-bottom : 7px;
	background-color : var(--MainForegroundColor2);
	color : var(--MainTextColorLight);
	box-shadow : 0 1px 3px rgba(0,0,0,0.12) , 0 1px 2px rgba(0,0,0,0.24);
    font-family: var(--MainFont);
}
		
.menu li:hover
{
	background-color : var(--MainForegroundColor2MoreLight);
}
.menu li:active
{
	background-color : var(--MainForegroundColor2MoreDark);
}
		
.aside{
	background-color : var(--MainForegroundColor2);
	padding : 15px;
	color : var(--MainTextColorLight);
	text-align : center;
	font-size : 14px;
	box-shadow : 0 1px 3px rgba(0,0,0,0.12) , 0 1px 2px rgba(0,0,0,0.24);
    font-family: var(--MainFont);
}
		
.footer{
	background-color : var(--MainForegroundColor2);
	color : var(--MainTextColorLight);
	text-align : center;
	font-size : 12px;
	padding : 15px;
    font-family: var(--MainFont);
}



/*---ASP.net controls -------------------------------------------------------------------*/
.h1{
    font-family: var(--MainFont);
}

.MyTextBox
{
    font-family:var(--MainFont);
    font-style:normal;
    color:var(--MainTextColorDark);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    direction:rtl;
}

.MyDefaultText
{
    font-family:var(--MainFont);
    font-style:normal;
    color:var(--MainTextColorLightMoreDark);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    direction:rtl;
}
.MyDefaultTextFocus
{
    font-family:var(--MainFont);
    font-style:normal;
    color:var(--MainTextColorDark);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    direction:rtl;
}

.MyButton
{
    font-family:var(--MainFont);
    font-weight:900;
    background-color: var(--MainForegroundColor);
    border: none;
    color: var(--MainTextColorLight);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    direction:rtl;
    box-shadow : 0 1px 3px rgba(0,0,0,0.5) , 0 1px 2px rgba(0,0,0,0.5);
}

.MyButton:hover
{
    
    background-color: var(--MainForegroundColorMoreLight);
}

.MyButton:active
{
    background-color: var(--MainForegroundColorMoreDark);
}

/*---GridView------------------------------------------------------------*/

.GridView
{
    padding:4px; 
    font-family:var(--MainFont);
    border-color: var(--MainTextColorDark);
    border-style:solid;
    border-width: 1px;
    width: 100%;
}

.GridViewFooter
{
    background-color:var(--MainForegroundColor);
    font-weight:bold;
    color:var(--MainTextColorLight);
}

.GridViewPager
{
    background-color:var(--MainForegroundColor2);
    color:var(--MainTextColorLight);
    align-content:center;
}

.GridViewSelectedRow
{
    background-color:var(--MainForegroundColor2);
    font-weight:bold;
    color:var(--MainTextColorLightMoreDark);
}

.GridViewHeader
{
    background-color:var(--MainForegroundColor);
    font-weight:bold;
    color:var(--MainTextColorLight);
}

.GridViewEditRow
{
    background-color:var(--MainForegroundColorMoreLight);
}

.GridViewRow
{
    background-color:var(--MainBackgroundColor2);
    text-align:right;
}

.GridViewAlternatingRow
{
    background-color:var(--MainBackgroundColor3);
    text-align:right;
}

.GridViewEditItemTextBox
{
    width:100%;
    text-align:right;
    font-family:var(--MainFont);
    color:var(--MainForegroundColorMoreLight);
    border-radius:5px;
    font-size: 16px;
}

.GridViewEditItemLabel
{
    width:100%;
    text-align:right;
    font-family:var(--MainFont);
    color:var(--MainTextColorDark);
    border-radius:5px;
    font-size: 16px;
}